/* [project]/app/style.module.css [app-client] (css) */
.style-module__hlQ3RG__page_designSystem .style-module__hlQ3RG__divider {
  width: 100%;
  height: 1px;
  background: red;
}

.style-module__hlQ3RG__page_designSystem .style-module__hlQ3RG__divider + .style-module__hlQ3RG__divider {
  margin-top: 40px;
}


/* [project]/app/components/typography/text/style.module.css [app-client] (css) */
.style-module__YUg0mW__component_text {
  display: block;
  font-family: Nunito Sans, sans-serif;
}

.style-module__YUg0mW__component_text:before {
  content: "";
  display: table;
}

.style-module__YUg0mW__component_text:after {
  content: "";
  display: table;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_l.style-module__YUg0mW__bold {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_l.style-module__YUg0mW__bold:before {
  margin-bottom: -7px;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_l.style-module__YUg0mW__bold:after {
  margin-top: -6px;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_l:not(.style-module__YUg0mW__bold) {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_l:not(.style-module__YUg0mW__bold):before {
  margin-bottom: -7px;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_l:not(.style-module__YUg0mW__bold):after {
  margin-top: -6px;
}

@media (width <= 1024px) {
  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_l.style-module__YUg0mW__bold {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_l.style-module__YUg0mW__bold:before {
    margin-bottom: -5px;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_l.style-module__YUg0mW__bold:after {
    margin-top: -6px;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_l:not(.style-module__YUg0mW__bold) {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_l:not(.style-module__YUg0mW__bold):before {
    margin-bottom: -5px;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_l:not(.style-module__YUg0mW__bold):after {
    margin-top: -6px;
  }
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_m.style-module__YUg0mW__bold {
  font-size: 17px;
  line-height: 20px;
  font-weight: 800;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_m.style-module__YUg0mW__bold:before {
  margin-bottom: -5px;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_m.style-module__YUg0mW__bold:after {
  margin-top: -6px;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_m:not(.style-module__YUg0mW__bold) {
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_m:not(.style-module__YUg0mW__bold):before {
  margin-bottom: -5px;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_m:not(.style-module__YUg0mW__bold):after {
  margin-top: -6px;
}

@media (width <= 1024px) {
  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_m.style-module__YUg0mW__bold {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_m.style-module__YUg0mW__bold:before {
    margin-bottom: -5px;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_m.style-module__YUg0mW__bold:after {
    margin-top: -5px;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_m:not(.style-module__YUg0mW__bold) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_m:not(.style-module__YUg0mW__bold):before {
    margin-bottom: -5px;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_m:not(.style-module__YUg0mW__bold):after {
    margin-top: -5px;
  }
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_s.style-module__YUg0mW__bold {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_s.style-module__YUg0mW__bold:before {
  margin-bottom: -5px;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_s.style-module__YUg0mW__bold:after {
  margin-top: -5px;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_s:not(.style-module__YUg0mW__bold) {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_s:not(.style-module__YUg0mW__bold):before {
  margin-bottom: -5px;
}

.style-module__YUg0mW__component_text.style-module__YUg0mW__size_s:not(.style-module__YUg0mW__bold):after {
  margin-top: -5px;
}

@media (width <= 1024px) {
  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_s.style-module__YUg0mW__bold {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_s.style-module__YUg0mW__bold:before {
    margin-bottom: -5px;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_s.style-module__YUg0mW__bold:after {
    margin-top: -5px;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_s:not(.style-module__YUg0mW__bold) {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_s:not(.style-module__YUg0mW__bold):before {
    margin-bottom: -5px;
  }

  .style-module__YUg0mW__component_text.style-module__YUg0mW__size_s:not(.style-module__YUg0mW__bold):after {
    margin-top: -5px;
  }
}


/* [project]/app/components/button/style.module.css [app-client] (css) */
body:before {
  font-family: Source Code Pro, SF Mono, Monaco, Inconsolata, Fira Mono, Droid Sans Mono, monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid #000;
  content: "Error: Undefined variable.\a    ╷\a 13 │     min-width: ($gap_1 * 56);\d \a    │                 ^^^^^^\a    ╵\a   app\\components\\button\\style.module.scss 13:14  root stylesheet";
}


/* [project]/app/components/forms/checkbox/style.module.css [app-client] (css) */
body:before {
  font-family: Source Code Pro, SF Mono, Monaco, Inconsolata, Fira Mono, Droid Sans Mono, monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid #000;
  content: "Error: Undefined variable.\a    ╷\a 46 │                 color: v.$color_success;\d \a    │                        ^^^^^^^^^^^^^^^^\a    ╵\a   app\\components\\forms\\_forms.scss 46:12                formField-base()\a   app\\components\\forms\\checkbox\\style.module.scss 12:2  root stylesheet";
}


/* [project]/app/components/forms/input/style.module.css [app-client] (css) */
body:before {
  font-family: Source Code Pro, SF Mono, Monaco, Inconsolata, Fira Mono, Droid Sans Mono, monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid #000;
  content: "Error: Undefined variable.\a    ╷\a 46 │                 color: v.$color_success;\d \a    │                        ^^^^^^^^^^^^^^^^\a    ╵\a   app\\components\\forms\\_forms.scss 46:12             formField-base()\a   app\\components\\forms\\input\\style.module.scss 12:2  root stylesheet";
}


/* [project]/app/components/forms/timePicker/style.module.css [app-client] (css) */
body:before {
  font-family: Source Code Pro, SF Mono, Monaco, Inconsolata, Fira Mono, Droid Sans Mono, monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid #000;
  content: "Error: Undefined variable.\a    ╷\a 46 │                 color: v.$color_success;\d \a    │                        ^^^^^^^^^^^^^^^^\a    ╵\a   app\\components\\forms\\_forms.scss 46:12                  formField-base()\a   app\\components\\forms\\timePicker\\style.module.scss 12:2  root stylesheet";
}


/* [project]/app/components/forms/timePicker/mui_timePicker.css [app-client] (css) */
body:before {
  font-family: Source Code Pro, SF Mono, Monaco, Inconsolata, Fira Mono, Droid Sans Mono, monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid #000;
  content: "Error: Undefined variable.\a    ╷\a 25 │         background: rgba(v.$color_black, .6) !important;\d \a    │                          ^^^^^^^^^^^^^^\a    ╵\a   app\\components\\forms\\_mui.scss 25:20                      mui-global()\a   app\\components\\forms\\timePicker\\mui_timePicker.scss 11:1  root stylesheet";
}


/* [project]/app/components/forms/toggle/style.module.css [app-client] (css) */
body:before {
  font-family: Source Code Pro, SF Mono, Monaco, Inconsolata, Fira Mono, Droid Sans Mono, monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid #000;
  content: "Error: Undefined variable.\a    ╷\a 46 │                 color: v.$color_success;\d \a    │                        ^^^^^^^^^^^^^^^^\a    ╵\a   app\\components\\forms\\_forms.scss 46:12              formField-base()\a   app\\components\\forms\\toggle\\style.module.scss 13:2  root stylesheet";
}


/* [project]/app/components/typography/h1/style.module.css [app-client] (css) */
body:before {
  font-family: Source Code Pro, SF Mono, Monaco, Inconsolata, Fira Mono, Droid Sans Mono, monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid #000;
  content: "Error: Can't find stylesheet to import.\a   ╷\a 5 │ @use '../h2/style.module' as h2;\d \a   │ ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   ╵\a   app\\components\\typography\\h1\\style.module.scss 5:1  root stylesheet";
}


/*# sourceMappingURL=app_0e17b3._.css.map*/
