/* [project]/app/components/forms/datePicker/style.module.css [app-client] (css) */
.style-module__BIsipa__component_datePicker {
  position: relative;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__label {
  padding-bottom: 12px;
  font-weight: 700;
  color: #181818;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__helperText {
  padding-top: 12px;
  color: #181818;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__errorText {
  display: none;
  padding-top: 12px;
  color: #a10000;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__label, .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__helperText {
  color: #00a11a;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__label, .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__helperText {
  color: #a10000;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__helperText {
  display: none;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__errorText {
  display: block;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer {
  position: relative;
  display: flex;
  width: 100%;
  background: #fff;
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: border-color .1s;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer input {
  all: initial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 16px;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #181818;
  white-space: nowrap;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer input::-webkit-outer-spin-button, .style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer input[type="number"] {
  -moz-appearance: textfield;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer input::placeholder {
  color: #a3a3a3;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer .style-module__BIsipa__prefix, .style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer .style-module__BIsipa__suffix {
  padding: 16px;
  color: #747474;
  cursor: text;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer .style-module__BIsipa__prefix {
  margin-right: -8px;
  padding-right: 0;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer .style-module__BIsipa__suffix {
  margin-left: -8px;
  padding-left: 0;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer.style-module__BIsipa__hasIcon input {
  padding-left: 44px;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer.style-module__BIsipa__hasArrowIcon input {
  padding-right: 36px;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer .style-module__BIsipa__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 48px;
  text-align: center;
  pointer-events: none;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer .style-module__BIsipa__icon > span {
  position: absolute;
  top: calc(50% + 1px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer .style-module__BIsipa__icon > span svg {
  color: #747474;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer .style-module__BIsipa__arrowIcon {
  right: 0;
  left: auto;
  width: 40px;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer .style-module__BIsipa__arrowIcon > span {
  width: 20px;
  height: 20px;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer .style-module__BIsipa__arrowIcon > span svg {
  transform: rotate(0);
  transition: transform .2s;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer[data-open="true"] .style-module__BIsipa__arrowIcon > span svg {
  transform: rotate(180deg);
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__fieldContainer[data-focus="true"] {
  border-color: #181818 !important;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__fieldContainer {
  background: #f2faf3;
  border-color: #00a11a;
  color: #00a11a;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__fieldContainer input {
  color: #00a11a;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__fieldContainer input::placeholder {
  color: #66c776;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__prefix, .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__suffix, .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__icon svg {
  color: #33b448;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__fieldContainer {
  background: #faf2f2;
  border-color: #a10000;
  color: #a10000;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__fieldContainer input {
  color: #a10000;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__fieldContainer input::placeholder {
  color: #c76666;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__prefix, .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__suffix, .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__icon svg {
  color: #b43333;
}

.style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__label, .style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__helperText {
  color: #747474;
}

.style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__fieldContainer {
  background: #e7e7e7;
  border-color: #b9b9b9;
}

.style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__fieldContainer input {
  color: #747474;
  pointer-events: none;
}

.style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__suffix, .style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__prefix, .style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__icon svg {
  color: #a3a3a3;
}

.style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__prefix, .style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__suffix, .style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__fieldContainer .style-module__BIsipa__icon {
  cursor: auto;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__muiField > div {
  position: relative;
  top: 0;
  overflow: hidden;
  width: 0;
  min-width: 0;
  height: 100%;
  padding: 0;
  background: red;
  border-radius: 0;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__muiField > div * {
  display: none;
}

.style-module__BIsipa__component_datePicker input {
  padding-right: 4px !important;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon {
  all: initial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  width: 40px;
  min-width: 40px;
  margin-right: 4px;
  cursor: pointer;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: none;
  border-radius: 9999px;
  transition: background-color .2s;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon > span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px !important;
  height: 20px !important;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon > span svg {
  color: #747474;
}

@media (hover: hover) {
  .style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon:hover:before {
    background: #e7e7e7;
  }

  .style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon:hover > span svg {
    color: #3a3a3a;
  }
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon:active:before, .style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon:focus-visible:before {
  background: #e7e7e7;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon:active > span svg, .style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon:focus-visible > span svg {
  color: #3a3a3a;
}

.style-module__BIsipa__component_datePicker .style-module__BIsipa__pickerIcon:active:before {
  background: #d1d1d1;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__pickerIcon svg {
  color: #33b448;
}

@media (hover: hover) {
  .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__pickerIcon:hover:before {
    background: #d9f1dd;
  }

  .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__pickerIcon:hover > span svg {
    color: #00a11a;
  }
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__pickerIcon:active:before, .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__pickerIcon:focus-visible:before {
  background: #d9f1dd;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__pickerIcon:active > span svg, .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__pickerIcon:focus-visible > span svg {
  color: #00a11a;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="success"] .style-module__BIsipa__pickerIcon:active:before {
  background: #b2e3ba;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__pickerIcon svg {
  color: #b43333;
}

@media (hover: hover) {
  .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__pickerIcon:hover:before {
    background: #eccccc;
  }

  .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__pickerIcon:hover > span svg {
    color: #a10000;
  }
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__pickerIcon:active:before, .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__pickerIcon:focus-visible:before {
  background: #eccccc;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__pickerIcon:active > span svg, .style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__pickerIcon:focus-visible > span svg {
  color: #a10000;
}

.style-module__BIsipa__component_datePicker[data-disabled="false"][data-state="error"] .style-module__BIsipa__pickerIcon:active:before {
  background: #e3b2b2;
}

.style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__pickerIcon {
  pointer-events: none;
}

.style-module__BIsipa__component_datePicker[data-disabled="true"] .style-module__BIsipa__pickerIcon svg {
  color: #a3a3a3;
}

/*# sourceMappingURL=app_components_forms_datePicker_style_module_b52d8e.css.map*/