/* [project]/app/components/notice/style.module.css [app-client] (css) */
.style-module__Yi54Ba__component_notice {
  scale: 1;
  display: inline-flex;
  gap: 12px;
  align-items: flex-start;
  max-width: 640px;
  padding: 16px;
  opacity: 1;
  border-radius: 8px;
  transition: all .2s linear;
  transition-behavior: allow-discrete;
}

@media (width <= 1024px) {
  .style-module__Yi54Ba__component_notice {
    gap: 8px;
    padding: 12px;
  }
}

.style-module__Yi54Ba__component_notice[data-hidden="true"] {
  scale: .6;
  display: none;
  opacity: 0;
}

.style-module__Yi54Ba__component_notice .style-module__Yi54Ba__icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
}

@media (width <= 1024px) {
  .style-module__Yi54Ba__component_notice .style-module__Yi54Ba__icon {
    width: 18px;
    min-width: 18px;
    height: 18px;
    min-height: 18px;
  }
}

.style-module__Yi54Ba__component_notice .style-module__Yi54Ba__text {
  padding-top: 7px;
}

@media (width <= 1024px) {
  .style-module__Yi54Ba__component_notice .style-module__Yi54Ba__text {
    padding-top: 4px;
  }
}

.style-module__Yi54Ba__component_notice .style-module__Yi54Ba__closeButton {
  all: initial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: -4px;
  margin-left: auto;
  padding: 4px;
  background: transaprent;
  border-radius: 999px;
  cursor: pointer;
  transition: background .2s linear;
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_info {
  background: #eaf4fb;
  border: 1px solid #85c1e9;
  color: #181818;
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_info svg {
  color: #3498db;
}

@media (hover: hover) {
  .style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_info .style-module__Yi54Ba__closeButton:hover {
    background: #c2e0f4;
  }
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_info .style-module__Yi54Ba__closeButton:active, .style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_info .style-module__Yi54Ba__closeButton:focus-visible {
  background: #c2e0f4;
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_success {
  background: #e5f5e8;
  border: 1px solid #66c776;
  color: #181818;
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_success svg {
  color: #00a11a;
}

@media (hover: hover) {
  .style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_success .style-module__Yi54Ba__closeButton:hover {
    background: #b2e3ba;
  }
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_success .style-module__Yi54Ba__closeButton:active, .style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_success .style-module__Yi54Ba__closeButton:focus-visible {
  background: #b2e3ba;
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_warning {
  background: #fdf7e4;
  border: 1px solid #fbc37d;
  color: #181818;
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_warning svg {
  color: #f99b27;
}

@media (hover: hover) {
  .style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_warning .style-module__Yi54Ba__closeButton:hover {
    background: #fddcb4;
  }
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_warning .style-module__Yi54Ba__closeButton:active, .style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_warning .style-module__Yi54Ba__closeButton:focus-visible {
  background: #fddcb4;
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_error {
  background: #f5e5e5;
  border: 1px solid #c76666;
  color: #a10000;
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_error svg {
  color: #a10000;
}

@media (hover: hover) {
  .style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_error .style-module__Yi54Ba__closeButton:hover {
    background: #e7bfbf;
  }
}

.style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_error .style-module__Yi54Ba__closeButton:active, .style-module__Yi54Ba__component_notice.style-module__Yi54Ba__type_error .style-module__Yi54Ba__closeButton:focus-visible {
  background: #e7bfbf;
}

/*# sourceMappingURL=app_components_notice_style_module_b52d8e.css.map*/