/* Global styles
---------------------------------------------------------------------------------------------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	min-width: 320px;
	min-height: 100%;

	// This property defines a smooth CSS scroll animation for anchor links
	scroll-behavior: smooth;
}
